body {
    text-align: center;
	
}

h1 {
    font-family: Chewy;
    font-size: 70px;
    margin: 0;
}

h2 {
    margin: 0;
	color: black;
}

h2:first-of-type {
    margin-top: 0;
	color: red;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}
